.itemContainer {
  background-color: white;
}

.itemContainer img {
  object-fit: cover;
  max-width: 150px;
  max-height: 200px;
  border: 1px solid white;
  border-radius: 16px;
  align-items: center;
}

.itemContainer p {
  text-align: center;
}
